<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap.min css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Animate css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="css/estilos.css">
    <title>Contacto</title>
</head>

<body>



    <!-- Start Top Header Bar -->
    <header class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-12 col-sm-4">
                </div>
                <div class="my-3 col-md-4 col-xs-12 col-sm-4 text-center">
                    <span class="fs-2">LOGO</span>
                </div>
                <div class="col-md-4 col-xs-12 col-sm-4 d-flex justify-content-end align-items-center">
                    <a href="../back/login.html">LOGIN </a>
                </div>
            </div>
        </div>
    </header><!-- End Top Header Bar -->


    <!-- Main Menu Section -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#productos">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="como-comprar.html">Como comprar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sobre-nosotros.html">Sobre nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="d-flex justify-content-center align-content-center my-5">
        <h1 class="page-name text-info">Contacto</h1>
    </section>

    <section class="page-wrapper">
        <div class="contact-section">
            <div class="container">


                <div class="row">
                    <!-- Contact Form -->
                    <form action="/contacto" method="post" class="row mb-3 g-3 needs-validation col-md-6 mx-auto"
                        id="contact-form" novalidate>
                        <div class="col-md-4">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Escribe tu nombre"
                                name="nombre" required>
                            <div class="invalid-feedback">
                                Escribe correctamente tu nombre
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="email" class="form-label">E-mail</label>
                            <input type="email" class="form-control" name="email" id="email"
                                placeholder="Ej: email@mail.com" required>
                            <div class="invalid-feedback">
                                Escribe correctamente tu e-mail
                            </div>
                        </div>


                        <div class="col-md-4">
                            <label for="asunto" class="form-label">Asunto</label>
                            <select class="form-select" name="asunto" id="asunto" required>
                                <option selected disabled value="">Elegir...</option>
                                <option>Comprar producto</option>
                                <option>Otras consultas</option>
                            </select>
                            <div class="invalid-feedback">
                                Por favor elegir un asunto
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <label for="mensaje" class="form-label">Textarea</label>
                            <textarea class="form-control" name="mensaje" id="mensaje" rows="5" placeholder="Mensaje..."
                                minlength="5" required></textarea>
                            <div class="invalid-feedback">
                                Por favor escribir un mensaje del menos 5 caracteres
                            </div>
                        </div>


                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Contactar</button>
                        </div>
                    </form>
                    <!-- ./End Contact Form -->

                </div> <!-- end row -->
            </div> <!-- end container -->
        </div>
    </section>

    <footer class="footer section text-center mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="social-media">
                        <li>
                            <a href="https://www.facebook.com/">
                                <i class="bi bi-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/">
                                <i class="bi bi-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter.com/">
                                <i class="bi bi-twitter"></i>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright-text">Copyright &copy;2022. Contacto <a
                            href="mailto:">santiago.acosta@bue.edu.ar</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- 
    Essential Scripts
    =====================================-->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


    <script>

        // Validación

    </script>

</body>

</html>