/* HERENCIA 
    se pisan las mismas etiquetas que se asignen y queda la ultima si no tiene ninguna especificacion como important
*/
h1{
    color: blue;
    font-size: 24px;
}

h1{
    color: red;
}

div{
    color: blue;
}

div p{
    color: initial;
}

/* ESPECIFICIDAD 

ES QUIEN TIENE MAS PESO O PRIORIDAD
    1.- important (se le agrega a la propiedad asi =>  !important )
    2.- de linea
    3.- #
    4.- .
    5.- etiqueta

*/