h1{
    color: yellowgreen;
    background-color: tomato;
    border-radius: 5px;
    line-height: 10ch;
}

div{
    background-color:yellow;
    border-radius: 5px;
    line-height: 10ch;
}
/*
LAS CLASES SE ESPECIFICA CON EL PUNTO .
*/
.destacado{
    color: red;
}

.agrandarTexto{
    font-size: 24px;
}

/*
LOS ID SE ESPECIFICAN CON EL #
*/
#productos{
    background-color: aquamarine;
}
#productos p{
    color: blue;
}