<!DOCTYPE html>
<html lang="en">

<head>
	{{> head}}
	<style>
		.error {
			background: red;
			color: white;
			padding: 10px;
			display: none
		}
	</style>
</head>

<body class="login">


	<main class="form-signin">
		{{#if error}}
			<div class="alert alert-danger mb-3" role="alert"> {{error}} </div>
		{{/if}}
		<form action="login" method="post">

			<h1 class="h3 mb-5 mt-5 text-center">Acceso al panel de control</h1>

			<div class="form-floating">
				<input type="email" class="form-control" id="usuario" placeholder="name@example.com" name="usuario">
				<label for="usuario">Usuario</label>
			</div>
			<div class="form-floating">
				<input type="password" class="form-control" id="password" placeholder="Contraseña" name="password">
				<label for="password">Contraseña</label>
			</div>


			<button class="w-100 btn btn-lg btn-info" type="submit">Entrar</button>
		</form>

		<a href="/registro">Quiero registrarme</a>

	</main>

</body>

</html>