<header class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-4">
            </div>
            <div class="my-3 col-md-4 col-xs-12 col-sm-4 text-center">
                <span class="fs-2">LOGO</span>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4 d-flex justify-content-end align-items-center">
                <a href="/login">LOGIN </a>
            </div>
        </div>
    </div>
</header><!-- End Top Header Bar -->


<!-- Main Menu Section -->
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/productos">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="como-compro">Como comprar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sobre-nosotros">Sobre nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacto">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>